* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'permanent-marker';
    src: url(Permanent_Marker/PermanentMarker-Regular.ttf);
}

.header {
    background-color:#F391B1;
    display: flex;
    flex-direction: inline;
    justify-content: space-between;
    padding-left: 80px;
    padding-bottom:10px;
    padding-top: 10px;
    align-items: center;
    border-bottom: #232323 6px solid;
    border-top: #232323 6px solid;
}


.logo {
    display: flex;
    height: 150px;
    width: 150px;
    flex-direction: inline;
    align-items: center;
    text-decoration: none;
    font-family: 'permanent-marker';
    color: #FFFF;
}    

.logo img {
    animation: spin 10s linear infinite; /* Apply the spin animation */
}

@keyframes spin {
    from {
        transform: rotate(0deg); /* Start rotation from 0 degrees */
    }
    to {
        transform: rotate(360deg); /* End rotation at 360 degrees (full circle) */
    }
}

.featured-recipes h2 {
    color: #FFFF;
    font-family: 'permanent-marker';
    font-size: 70px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}


a.logo:hover {
    transform: scale(1.3);
    transition: 0.9s;
}

a.logo:not(hover) {
    transition: 0.9s;
}


.navbar {
    float: right;
    display: block;
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between; /* Items are spaced evenly */
    align-items: center; /* Center items vertically */
    background-color:#F391B1;
    padding: 10px 20px;
}

#submitrecipe {
    background-color: #F391B1;
    border: 2px solid #232323;
    border-radius: 30px;
    box-shadow: #232323 4px 4px 0 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    margin-right: 10px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

header form {
    background-color: #ffff;
    border: 2px solid #232323;
    border-radius: 30px;
    box-shadow: #232323 4px 4px 0 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    margin-right: 10px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

header input {
    border: none;
    background-color: none;
    border-radius: 30px;
}

#submitrecipe:hover {
    background-color: #fff;
    color:#F391B1;
  }

#submitrecipe:active {
    box-shadow: #232323 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

#main-button:hover {
    background-color: #fff;
    color:#F391B1;
  }

#main-button:active {
    box-shadow: #232323 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

#search {
  color:#FFFF;
  background-color: #F391B1;
  border: none;
}

.video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 90vh ;
    background-color: #F391B1;
  }

.video-container video {
    width: 100%;
    position: absolute;
    opacity: 0.7;
}

.card-img-top {
    height: 60%;
    width: 60%;
}

.col img {
    height: 100%;
    width:80%;
}

.col .card {
    height: 200px;
}

#main-card {
    display: flex;
    margin-left: 300px;
    margin-top: 40px;
    padding-right: 30px;
    box-shadow: #232323 4px 4px 0 0;
    border: 6px solid #232323;
    border-radius: 100px;
    overflow: hidden;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
}   

.video-container .card-body {
    margin-top: 40px;
    margin-left: 10px;
}

#main-card h5 {
    font-size: 12pt;
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: #c0ffee;
    margin-left: 80px;
    margin-top: 60px;
    padding-right: 30px;
    box-shadow: #232323 4px 4px 0 0;
    border: 6px solid #232323;
    border-radius: 100px;
    overflow: hidden;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    align-items: center;

}

.card-text {
    font-size:9pt;
}

#main-button {
        background-color: #F391B1;
        border: 2px solid #232323;
        border-radius: 30px;
        box-shadow: #232323 4px 4px 0 0;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        padding: 0 18px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      
}

.featured-recipes {
    background-color: #F391B1;
    border-bottom: #232323 6px solid;
    border-top: #232323 6px solid;
    padding-right: 80px;
    padding-bottom: 200px;
}


#button {
    background-color: #F391B1;
    border: 2px solid #232323;
    border-radius: 30px;
    box-shadow: #232323 4px 4px 0 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
     user-select: none;
    -webkit-user-select: none;
     touch-action: manipulation;
}

.form-container {
    background-color: #F391B1;
    text-align: center;
    border: 6px solid #232323;
    border-radius: 30px;
    box-shadow: #232323 4px 4px 0 0;
    margin: 100px;
}

.form-container input {
    font-size: 18px;
    font-weight: 600;
    width: 300px;
    text-align: center;
    margin-top : 20px;
}

#instructions {
    font-size: 18px;
    font-weight: 600;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

form button , label {
    background-color: #F391B1;
    border: 2px solid #232323;
    border-radius: 30px;
    box-shadow: #232323 4px 4px 0 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
     user-select: none;
    -webkit-user-select: none;
     touch-action: manipulation;
}

form button {
    margin-bottom: 50px;
}

.form-container h2 {
    color: #FFFF;
    font-family: 'permanent-marker';
    font-size: 70px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.recipe-page {
    background-color:#F391B1;
    color:#232323;
    text-align: center;
    padding-bottom: 100px;
    padding-right: 200px;
    padding-left: 200px;
}

.recipe-page h1 {
    padding-top: 50px;
    font-family: 'permanent-marker';
    color: #FFFF;
    font-size: 50px;
}

.recipe-page ul {
    list-style-type: none;
   padding-right: 32px;
}

.recipe-image {
    height: 30%;
    width: 30%;
    box-shadow: #232323 4px 4px 0 0;
    border: 6px solid #232323;
    border-radius: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.prep-time {
    font-weight: 600;
}

.bake-time {
    font-weight: 600;
}

.method {
    font-weight: 600;
}

.ingredients {
    font-weight: 600;
}